.projects-title-container {
  display: flex;
  align-items: center;
  height: 60vh;
  margin-left: 80px;
  padding-bottom: 10vh;
  background-color: var(--white);
}
.projects-flex-container {
  display: flex;
  justify-content: flex-start;
  width: 92%;
  margin: 0 auto;
}
.main-projects-title,
.main-projects-subtitle {
  display: flex;
  align-items: center;
  color: var(--black);
}
.main-projects-title {
  width: fit-content;
}
.main-projects-subtitle {
  width: 50%;
  line-height: 1.6rem;
  padding-left: 5%;
}
.our-projects-section {
  height: 100%;
  background-color: var(--background);
  padding-bottom: 12rem;
}
.projects-section {
  background-color: var(--grey);
}
.projects-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  margin: -7rem auto 4rem;
}
.project-element {
  display: flex;
  flex-direction: column;
  width: 30%;
  max-width: 450px;
  margin: 1rem;
  background-color: var(--white);
  transition: background-color 1s;
}
.project-text {
  height: 100%;
  padding: 2rem;
  margin-top: 0;
  background-color: var(--white);
  transition: background-color, margin-top 1s;
}
.project-title {
  display: flex;
  align-items: center;
  min-height: 8rem;
  line-height: 1.7rem;
  padding-bottom: 2.5rem;
  color: var(--black);
}
.project-image img {
  width: 100%;
}
.project-date {
  color: var(--grey);
}
.project-element:hover .project-text {
  margin-top: -2rem;
  background-color: var(--red);
}
.project-element:hover .project-title,
.project-element:hover .project-date {
  color: var(--white);
}
.projects-more-block {
  text-align: center;
}

/**** RESPONSIVE ****/
@media (max-width: 992px) {
  .projects-flex-container {
    flex-direction: column;
    width: 100%;
    max-width: 550px;
  }
  .projects-title-container {
    height: 65vh;
    padding-bottom: 0vh;
  }
  .main-projects-title,
  .main-projects-subtitle {
    width: 100%;
    max-width: 450px;
    padding: 0;
  }
  .main-projects-title {
    margin-bottom: 1rem;
  }
  .projects-container {
    margin: -10rem auto 4rem;
  }
  .projects-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project-element {
    width: 100%;
    max-width: 550px;
    margin: 1rem;
  }
}
@media (max-width: 767px) {
  .projects-title-container {
    margin-left: 0;
  }
}
