:root {
  --background: #f1f1f1;
  --grey: #2f4a5b;
  --light-grey: #3E5768;
  --red: #f6101f;
  --red-hover: #B80E19;
  --black: #0c1f2c;
  --second-black: #0D1622;
  --white: #fff;
}

* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
html {
	scroll-behavior: smooth;
  font-size: 16px;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
section {
  position: relative;
  display: flex;
}
body {
  font-family: 'Montserrat', sans-serif;
	line-height: 1;
  background-color: var(--background);
}
body.no-scroll {
  overflow: hidden;
}
body.fixed-position {
  height: 100%;
  overflow: auto;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}
h1 {
  font-size: 4rem; /* 64px */
  font-weight: 700;
}
h2 {
  font-size: 3.5rem; /* 56px */
  font-weight: 700;
}
h3 {
  font-size: 3.5rem; /* 56px */
  font-weight: 600;
}
h3.second {
  font-size: 2.5rem; /* 40px */
  font-weight: 600;
  text-transform: uppercase;
}
h4 {
  font-size: 1.5rem; /* 24px */
  font-weight: 700;
}
h5 {
  font-size: 1.25rem; /* 20px */
  font-weight: 600;
}
h6 {
  font-size: 1.125rem; /* 18px */
  font-weight: 600;
}
p.one {
  font-size: 0.875rem; /* 14px */
  font-weight: 500;
}
p.second {
  font-size: 1rem; /* 16px */
  font-weight: 500;
}
.full-height {
  height: 100vh;
}
.content-container {
  position: relative;
  height: 100%;
  width: calc(100vw - 75px);
}
.main-container {
  width: 92%;
  max-width: 1400px;
}

/**** MENU ****/
.menu-container {
  height: 100%;
  width: 80px;
  background-color: transparent;
  z-index: 1;
}
.menu-container.main-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 100vh;
  background-color: var(--grey);
  z-index: 15;
}
.menu-btn-container {
  position: relative;
}
.menu-btn-container svg {
  width: 100%;
}
.menu-btn-container p {
  padding-top: .5rem;
  text-transform: uppercase;
  font-size: 0.688rem;
  color: var(--white);
}
.logo-container {
  height: 10vh;
  width: 100%;
}
.logo-container img {
  height: 100%;
  width: 100%;
}
.scroll-container {
  margin-bottom: 1rem;
}
.scroll-container button {
  width: 35px;
  height: 35px;
  padding-top: 5px;
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 50%;
  cursor: pointer;
}
#scroll-btn {
  display: none;
  transform: rotate(180deg);
}
#scroll-down-btn {
  transform: rotate(0);
}
.menu-container.main-menu-container-mobile {
  display: none;
}
.main-swiper-pagination {
  z-index: 1 !important;
}

/**** MAIN HEADER ****/
.main-header {
  position: absolute;
  width: 100%;
  height: 10vh;
  display: flex;
  text-transform: uppercase;
  font-weight: 700;
  z-index: 10;
}
.main-header.light-font {
  color: var(--white);
}
.main-header.dark-font {
  color: var(--black);
}
.main-header.dark-font .phone-search-block {
  color: var(--white);
}
.main-header-inner-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* padding: 1rem 0; */
}
.phone-search-block {
  height: 100%;
  display: flex;
  padding: 1rem 0;
  cursor: pointer;
}
.languages-block {
  display: flex;
  padding-right: 4rem;
}
.phone-block {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background-color: var(--grey);
}
.lang {
  padding: 0 .5rem;
}
.lang-separator {
  width: 1rem;
  display: flex;
  justify-content: center;
  align-content: center;
}
.lang-separator {
  padding-top: 5%;
}
.search-block {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  background-color: var(--white);
}
/**** HEADER SEARCH ****/
.header-search-block {
  width: fit-content;
  padding-right: 0;
}
.header-search-block #searchform {
  width: 0;
}
.header-search-block #searchform input {
  width: 0;
  opacity: 0;
}
.header-search-block svg.search-block-img {
  width: 35px;
  height: 35px;
}
.header-search-block svg.search-block-img circle,
.header-search-block svg.search-block-img path {
  stroke: var(--grey);
  transition: stroke .5s;
}
.header-search-block.active svg.search-block-img circle,
.header-search-block.active svg.search-block-img path,
.search-block:hover .header-search-block svg.search-block-img circle,
.search-block:hover .header-search-block svg.search-block-img path {
  stroke: var(--red);
}
.close-search-btn {
  display: none;
  height: 35px;
  width: 35px;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
  border: 1px solid rgba(12, 31, 44, 0.4);
  border-radius: 50%;
}
.close-search-btn.show {
  display: flex;
}
.close-search-btn svg {
  width: 30%;
}
.main-header-inner-block.show {
  display: flex;
  align-items: center;
  position: fixed;
  height: calc(10vh - 1px);
  padding: 0;
  background-color: var(--white);
}
#phone-block.hide,
#languages-block.hide {
  display: none;
}
.header-search-block.active #searchform {
  width: calc(100% - 270px);
  height: 40%;
  position: absolute;
  left: 0;
  margin-left: 100px;
  padding-left: 3rem;
}
.header-search-block.active #searchform input {
  width: 100%;
  height: 100%;
  opacity: 1;
  border: none;
  outline: none;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--black);
  text-transform: capitalize;
}

/**** MAIN BUTTON ****/
.result_item-notfound a.main-btn,
.main-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4rem;
  width: fit-content;
  padding: 1rem 2rem;
  background-color: var(--red);
  color: var(--white);
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
}
.result_item-notfound a.main-btn:hover,
.main-btn:hover {
  background-color: var(--red-hover);
}
.btn-circle {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

/**** RED LINK ****/
.red-link {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 600;
}
.red-link:hover span {
  color: var(--grey);
}
.red-link span {
  color: var(--red);
}
/* .red-link span:hover {
  color: var(--red-hover);
}
.red-link span:hover ~ .red-link svg path {
  stroke: green;
} */

/* MENU */
.menu-section {
  position: relative;
}
.main-menu-block {
  position: fixed;
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
  top: 0;
  left: 0;
  z-index: 11;
}
.main-menu-block-scrollable {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: var(--black);
  padding-left: 80px;
}
.main-menu-left {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31%;
}
.main-menu-left img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
  z-index: 0;
}
.menu-header-menu-main-container {
  z-index: 1;
}
.menu-left-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40vh;
  max-height: 20rem;
  z-index: 5;
}
.menu-left-list li a {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--white);
  transition: color .35s ease;
}
.menu-left-list li a:hover {
  color: var(--red);
}
.main-menu-block-inner {
  position: relative;
  display: flex;
  width: 69%;
}
.main-menu-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54%;
  background-color: var(--grey);
}
.main-menu-middle ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40vh;
  max-height: 20rem;
  z-index: 5;
}
.main-menu-middle ul li a {
  position: relative;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
  transition: all .35s ease;
}
.main-menu-middle ul li a::before {
  content: ""; 
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -.3rem;
  left: 0;
  background-color: var(--red);
  -webkit-transition: all 0.3s ease-in-out 0s; 
  transition: all 0.3s ease-in-out 0s; 
}   
.main-menu-middle ul li:first-child a::before {
  content: none; 
}   
.main-menu-middle ul li:first-child a:hover {
  color: var(--red);
} 
.main-menu-middle ul li a:hover::before {
  width: 100%;
}   
.main-menu-middle ul li:first-child a {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--white);
}
.menu-right-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40vh;
  max-height: 20rem;
  z-index: 5;
}
.menu-right-list p.menu-right-title,
.menu-middle-list li.page-link a {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--white);
}
.main-menu-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46%;
  background-color: transparent;
}
.menu-right-title {
  margin-bottom: 0.9rem;
}
.menu-right-info {
  line-height: 1.5rem;
  color: var(--white);
}
.menu-vector {
  position: absolute;
  top: 20vh;
  width: 100%;
  z-index: 0;
}
.languages-block-menu {
  position: absolute;
  bottom: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--white);
}
.languages-block-menu .lang-separator {
  padding: 0;
}
.languages-block-menu .lang:first-child {
  padding-left: 0;
  margin-left: -2rem;
}
.menu-btn-inner-container {
  width: 25px;
  height: 15px;
  position: relative;
  margin: 0px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
.menu-btn-inner-container span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--background);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.menu-btn-inner-container span:nth-child(1) {
  top: 0px;
}
.menu-btn-inner-container span:nth-child(2), 
.menu-btn-inner-container span:nth-child(3) {
  top: 6px;
  width: 70%;
}
.menu-btn-inner-container span:nth-child(4) {
  top: 12px;
  width: 85%;
}
.menu-btn-inner-container.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.menu-btn-inner-container.open span:nth-child(2) {
  width: 100%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.menu-btn-inner-container.open span:nth-child(3) {
  width: 100%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu-btn-inner-container.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.main-menu-block.menu-show {
  animation: menuSlide .5s 1;
  animation-fill-mode: forwards;
}
.main-menu-block.menu-hide {
  animation: menuSlideOut .5s 1;
}
.menu-input-search {
  display: none;
}
.main-menu-search-field {
  display: none;
}

/**** TEXT ****/
.text-block {
  display: flex;
  justify-content: space-between;
}
.text-block-left,
.text-block-right {
  width: 47%;
  line-height: 1.7rem;
}
.text-block-single {
  display: flex;
  flex-direction: column;
}
.services-side-text-block p,
.services-side-text-block ul,
.services-side-text-block ol,
.text-block-single p,
.text-block-single ul,
.text-block-single ol,
.text-block-left p,
.text-block-right p,
.text-block-left ol,
.text-block-right ol,
.text-block-left ul,
.text-block-right ul {
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.services-side-text-block ol,
.text-block-single ol,
.text-block-left ol,
.text-block-right ol {
  list-style: auto;
  padding-left: 2rem;
}
.services-side-text-block ul,
.text-block-single ul,
.text-block-left ul,
.text-block-right ul {
  list-style: disc;
  padding-left: 2rem;
}
.services-side-text-block h5,
.text-block-single h5,
.text-block-left h5,
.text-block-right h5 {
  font-size: 1rem; 
  font-weight: 700;
  margin-bottom: 1rem;
}
.services-side-text-block h4,
.text-block-single h4,
.text-block-left h4,
.text-block-right h4 {
  margin-top: 2rem;
}
.services-side-text-block p img,
.text-block-single p img,
.text-block-left p img,
.text-block-right p img {
  /* width: 100%;
  max-height: 500px;
  object-fit: cover; */
  display: block;
  margin: 0 auto;
}
.text-block-list {
  font-size: 1rem;
  font-weight: 500;
  list-style: disc;
  padding-left: 2rem;
}
.text-block-title {
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: .5rem;
}

/**** SWIPER ****/
.swiper-wrapper {
  z-index: 0 !important;
}

/**** BREADCRUMBS ****/
.breadcrumbs-block {
  position: absolute;
  top: 11vh;
  left: 85px;
  width: calc(100vw - 120px);
  z-index: 1;
}
.breadcrumbs {
  display: block;
  width: 92%;
  z-index: 10;
  text-align: left;
  margin: 0 auto;
  max-width: 1360px;
}
#breadcrumbs a,
#breadcrumbs a:visited {
  position: relative;
  padding-right: 1.5rem;
  color: #00000050;
  line-height: 1.5rem;
}
#breadcrumbs a:after {
  content: '';
  position: absolute;
  top: 8px;
  right: 5px;
  background-color: var(--red);
  height: 4px;
  width: 4px;
}
.breadcrumb_last {
  font-size: 0.875rem;
  font-weight: 500;
  color: #000;
}
/**** NAVIGATION ****/
.navigation.pagination {
  margin-top: -1px;
  padding-bottom: 5rem;
  background-color: var(--grey);
}
.nav-links {
  width: 400px;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: transparent;
  margin: 0 auto;
}
.nav-links span,
.nav-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff50;
  color: var(--white);
}
.nav-links .current {
  border: 1px solid var(--white);
}
.next-inactive,
.nav-links .next {
  margin-left: 1rem;
}
.prev-inactive,
.nav-links .prev {
  margin-right: 1rem;
}
.next-inactive,
.prev-inactive {
  opacity: .5;
}

/**** SEARCH ****/
.findme {
  margin-top: 3rem;
  padding: 6rem 0 7rem;
  margin-left: 80px;
}
.findme p, 
.findme form {
  width: 92%;
  max-width: 1400px;
  margin: 0 auto;
}
.findme-result {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--second-black);
}
.findme-result-highlight {
  color: var(--red);
}
.findme input {
  width: 100%;
  margin: 0 0 3rem;
  font-size: 3.5rem; 
  font-weight: 600;
  line-height: 5.625rem;
  text-transform: capitalize;
  border: none;
  border-bottom: 1px solid rgba(47, 74, 91, 0.2);
  outline: none;
  background: transparent;
}
.findme input:active,
.findme input:focus {
  border-bottom: 2px solid var(--second-black);
}
.result-search {
  width: 100%;
}
.static-notfound,
.result-search-list,
.find {
  display: flex;
  flex-wrap: wrap;
  width: 92%;
  max-width: 1400px;
  margin: 0 auto;
}
.result_item .more-info-block,
.find .more-info-block {
  margin: 2rem 0 0;
}
.result_item-notfound .result_item-text,
.result_item,
.find li {
  width: 50%;
  margin: 2rem 0;
  padding-right: 8rem;
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 700;
}
.result_item a,
.find li a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: var(--second-black);
}
.result_item-notfound .result_item-text {
  width: 100%;
  margin: 0;
}
.result_item-notfound a.main-btn {
  margin-top: 2rem;
  width: fit-content;
  justify-content: center;
}

/**** RESPONSIVE ****/
@media (min-width: 1600px) {
  html {
    font-size: 22px;
  }
}
@media (min-width: 1400px) {
  html {
    font-size: 18px;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 3rem;
  }  
  h3 {
    font-size: 2.6rem;
  }  
  .content-container {
    width: 100vw;
  }
  .text-block {
    flex-direction: column;
    width: 100%;
  }
  .text-block-left,
  .text-block-right {
    width: 100%;
    margin-top: 2rem;
  }
}

/**** RESPONSIVE MENU + HEADER ****/
@media (min-width: 1400px) {
  .menu-left-list,
  .menu-middle-list,
  .menu-right-list {
    max-height: 27rem;
  }
}
@media (max-width: 767px) {
  .main-container {
    width: 85%;
  }
  /* .menu-container,
  .menu-container.main-menu-container,
  .main-header {
    display: none;
  } */
  .menu-container,
  .menu-container.main-menu-container {
    display: none;
  }
  .menu-container.main-menu-container-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 5rem;
    width: 100%;
    background-color: var(--grey);
    z-index: 15;
  }
  .logo-container {
    height: 5rem;
  }
  .logo-container img {
    height: 100%;
    width: auto;
  }
  .mobile-block-left,
  .mobile-block-right {
    display: flex;
    align-items: center;
  }
  .mobile-block-left {
    justify-content: flex-start;
  }
  .mobile-block-right {
    justify-content: flex-end;
    padding-right: 1.5rem;
  }
  .languages-block {
    padding-left: 5%;
  }
  .lang {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white);
  }
  .phone-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.7rem;
    height: 2.7rem;
    margin: 0 2rem;
    border: 1px solid var(--white);
    border-radius: 50%;
  }
  .main-menu-block {
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
  .main-menu-block-scrollable {
    height: 100%;
    overflow: scroll;
    flex-direction: column;
    padding-left: 0;
    padding-top: 65px;
  }
  .main-menu-block.menu-show {
    animation: menuSlideMobile .5s 1;
    animation-fill-mode: forwards;
  }
  .main-menu-block.menu-hide {
    animation: menuSlideOutMobile .5s 1;
  }
  .main-menu-block-inner {
    flex-direction: column;
    width: 100%;
    height: 66.66%;
  }
  .main-menu-left,
  .main-menu-middle,
  .main-menu-right {
    width: 100%;
    justify-content: start;
    padding: 0 5%;
  }
  .main-menu-left {
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 2rem 2rem;
  }
  .main-menu-middle {
    height: 100%;
    padding: 3rem 2rem;
  }
  .main-menu-right {
    height: 100%;
    padding: 1rem 2rem 2rem;
  }
  .main-menu-left img {
    top: 0;
    left: 0;
  }
  .menu-input-search {
    display: block;
    width: 90%;
    padding: 3rem 0 1rem;
  }
  .menu-input-search input {
    position: relative;
    width: 100%;
    height: 3rem;
    margin-top: -1rem;
    padding-left: 1rem;
    outline: none;
  }
  .menu-input-search input:focus {
    outline: none;
    border: 1px solid #000;
    z-index: 30;
  }
  .main-menu-search-field {
    display: block;
    z-index: 30;
    margin: 3rem 0 -1rem 0;
    height: 3.5rem;
    width: 100%;
  }
  .main-menu-search-field form::after {
    position: absolute;
    left: 1.5rem;
    top: 1.2rem;
    width: 2rem;
    height: 2rem;
  }
  .main-menu-search-field form,
  .main-menu-search-field form input {
    height: 100%;
    width: 100%;
  }
  .main-menu-search-field form {
    position: relative;
  }
  .main-menu-search-field form input {
    padding-left: 4rem;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    color: var(--black);
    text-transform: capitalize;
  }
  .main-menu-search-field form input:active~.main-menu-search-field form::after,
  .main-menu-search-field form input:focus~.main-menu-search-field form::after {
    color: yellow;
  }
  .menu-left-list,
  .menu-middle-list,
  .menu-right-list {
    height: 100%;
  }
  .menu-left-list {
    height: 100%;
    max-height: inherit;
    width: 100%;
    padding-top: 3rem;
  }
  .languages-block-menu,
  .menu-vector {
    display: none;
  }
  .main-menu-middle ul li a {
    font-size: 0.9rem;
    font-weight: 500;
  }
  .main-menu-middle ul li:first-child a,
  .menu-left-list li a,
  .menu-right-list p.menu-right-title {
    font-size: 1.25rem;
  }
  .menu-left-list li {
    margin: 1rem 0;
  }
  .menu-right-list p.menu-right-title {
    margin: 2rem 0 1rem;
  }
}
/**** RESPONSIVE BREADCRUMBS****/
@media (min-width: 1400px) {
  #breadcrumbs a:after {
    top: 10px;
  }
}
/* @media (max-width: 1200px) {
  .breadcrumbs-block {
    left: 85px;
    width: calc(100vw - 120px);
    padding-right: 35px;
  }
} */
@media (max-width: 992px) {
  .breadcrumbs-block {
    top: 13vh;
    /* width: 85%;
    left: 0; */
  }

}
@media (max-width: 766px) {
  .breadcrumbs-block {
    width: 100%;
    top: 12vh;
    left: 0;
  }
}

@media (max-width: 420px) {
  .nav-links {
    width: 95%;
  }
}

/* KEYFRAMES */
@keyframes menuSlide {
  from {
    transform: translateX(-100%);
    transition-timing-function: ease-in;
  }
  to {
    transform: translateX(0);
    transition-timing-function: ease-out;
  }
}
@keyframes menuSlideOut {
  from {
    transform: translateX(0);
    transition-timing-function: ease-in;
  }
  to {
    transform: translateX(-100%);
    transition-timing-function: ease-out;
  }
}
@keyframes menuSlideMobile {
  from {
    transform: translateY(-100%);
    transition-timing-function: ease-in;
  }
  to {
    transform: translateY(0);
    transition-timing-function: ease-out;
  }
}
@keyframes menuSlideOutMobile {
  from {
    transform: translateY(0);
    transition-timing-function: ease-in;
  }
  to {
    transform: translateY(-100%);
    transition-timing-function: ease-out;
  }
}
/**** RESPONSIVE SEARCH ****/
@media (max-width: 767px) {
  .findme p, 
  .findme form {
    width: 100%;
  }
  .findme {
    padding: 6rem 0 7rem;
    width: 90%;
    margin: 3rem auto 0;
  }
  .static-notfound,
  .result-search-list,
  .find {
    width: 100%;
    flex-direction: column;
  }
  .result_item,
  .find li {
    width: 100%;
    padding-right: 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(47, 74, 91, 0.2);
  }
  .result_item:last-child,
  .find li:last-child {
    border-bottom: none;
  }
  .result_item .more-info-block,
  .find .more-info-block {
    padding-bottom: 2rem;
  }
  .result-search-list {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .result_item-notfound .result_item-text {
    width: 100%;
    margin: 0;
    padding-right: 0;
  }
}
