:root {
  --background: #f1f1f1;
  --grey: #2f4a5b;
  --light-grey: #3E5768;
  --red: #f6101f;
  --red-hover: #B80E19;
  --black: #0c1f2c;
  --white: #fff;
}

* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
html {
	scroll-behavior: smooth;
  font-size: 16px;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
section {
  position: relative;
  display: flex;
}
body {
  font-family: 'Montserrat', sans-serif;
	line-height: 1;
  background-color: var(--background);
}
body.no-scroll {
  overflow: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}
h1 {
  font-size: 4rem; /* 64px */
  font-weight: 700;
}
h2 {
  font-size: 3.5rem; /* 56px */
  font-weight: 700;
}
h3 {
  font-size: 3.5rem; /* 56px */
  font-weight: 600;
}
h3.second {
  font-size: 2.5rem; /* 40px */
  font-weight: 600;
  text-transform: uppercase;
}
h4 {
  font-size: 1.5rem; /* 24px */
  font-weight: 700;
}
h5 {
  font-size: 1.25rem; /* 20px */
  font-weight: 600;
}
h6 {
  font-size: 1.125rem; /* 18px */
  font-weight: 600;
}
p.one {
  font-size: 0.875rem; /* 14px */
  font-weight: 500;
}
p.second {
  font-size: 1rem; /* 16px */
  font-weight: 500;
}
.full-height {
  height: 100vh;
}
.content-container {
  position: relative;
  height: 100%;
  width: calc(100vw - 75px);
}
.main-container {
  width: 92%;
  max-width: 1400px;
}

/**** MENU ****/
.menu-container {
  height: 100%;
  width: 80px;
  background-color: transparent;
  z-index: 1;
}
.menu-container.main-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 100vh;
  background-color: var(--grey);
  z-index: 15;
  border: 1px solid var(--grey);
}
.menu-btn-container {
  position: relative;
}
.menu-btn-container svg {
  width: 100%;
}
.menu-btn-container p {
  padding-top: .5rem;
  text-transform: uppercase;
  font-size: 0.688rem;
  color: var(--white);
}
.logo-container img {
  width: 99%;
}
.scroll-container {
  margin-bottom: 1rem;
}
.scroll-container button {
  width: 35px;
  height: 35px;
  padding-top: 5px;
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 50%;
}
.menu-container.main-menu-container-mobile {
  display: none;
}

/**** MAIN HEADER ****/
.main-header {
  position: absolute;
  width: 100%;
  height: 10vh;
  display: flex;
  text-transform: uppercase;
  font-weight: 700;
  z-index: 10;
}
.main-header.light-font {
  color: var(--white);
}
.main-header.dark-font {
  color: var(--grey);
}
.main-header-inner-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem 0;
}
.phone-search-block {
  height: 100%;
  display: flex;
}
.languages-block {
  display: flex;
  padding-right: 4rem;
}
.phone-block {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background-color: var(--grey);
}
.lang {
  padding: 0 .5rem;
}
.lang-separator {
  width: 1rem;
  display: flex;
  justify-content: center;
  align-content: center;
}
.lang-separator {
  padding-top: 5%;
}
.search-block {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background-color: var(--white);
}

/**** MAIN BUTTON ****/
.main-btn {
  display: flex;
  align-items: center;
  height: 4rem;
  width: fit-content;
  padding: 1rem 2rem;
  background-color: var(--red);
  color: var(--white);
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
}
.main-btn:hover {
  background-color: var(--red-hover);
}
.btn-circle {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

/**** RED LINK ****/
.red-link {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 600;
}
.red-link:hover span {
  color: var(--grey);
}
.red-link span {
  color: var(--red);
}
/* .red-link span:hover {
  color: var(--red-hover);
}
.red-link span:hover ~ .red-link svg path {
  stroke: green;
} */

/* MENU */
.menu-section {
  position: relative;
}
.main-menu-block {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
  top: 0;
  left: 0;
  background-color: var(--black);
  padding-left: 80px;
  z-index: 11;
}
.main-menu-left {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31%;
}
.main-menu-left img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
  z-index: -1;
}
.menu-left-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40vh;
  max-height: 20rem;
  z-index: 5;
}
.menu-left-list li a {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--white);
  transition: color .35s ease;
}
.menu-left-list li a:hover {
  color: var(--red);
}
.main-menu-block-inner {
  position: relative;
  display: flex;
  width: 69%;
}
.main-menu-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54%;
  background-color: var(--grey);
}
.main-menu-middle ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40vh;
  max-height: 20rem;
  z-index: 5;
}
.main-menu-middle ul li a {
  position: relative;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
  transition: all .35s ease;
}
.main-menu-middle ul li a::before {
  content: ""; 
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -.3rem;
  left: 0;
  background-color: var(--red);
  -webkit-transition: all 0.3s ease-in-out 0s; 
  transition: all 0.3s ease-in-out 0s; 
}   
.main-menu-middle ul li:first-child a::before {
  content: none; 
}   
.main-menu-middle ul li:first-child a:hover {
  color: var(--red);
} 
.main-menu-middle ul li a:hover::before {
  width: 100%;
}   
.main-menu-middle ul li:first-child a {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--white);
}
.menu-right-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40vh;
  max-height: 20rem;
  z-index: 5;
}
.menu-right-list p.menu-right-title,
.menu-middle-list li.page-link a {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--white);
}
.main-menu-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46%;
  background-color: transparent;
}
.menu-right-title {
  margin-bottom: 0.9rem;
}
.menu-right-info {
  line-height: 1.5rem;
  color: var(--white);
}
.menu-vector {
  position: absolute;
  top: 20vh;
  width: 100%;
  z-index: 0;
}
.languages-block-menu {
  position: absolute;
  bottom: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--white);
}
.languages-block-menu .lang-separator {
  padding: 0;
}
.languages-block-menu .lang:first-child {
  padding-left: 0;
  margin-left: -2rem;
}
.menu-btn-inner-container {
  width: 25px;
  height: 15px;
  position: relative;
  margin: 0px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
.menu-btn-inner-container span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--background);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.menu-btn-inner-container span:nth-child(1) {
  top: 0px;
}
.menu-btn-inner-container span:nth-child(2), 
.menu-btn-inner-container span:nth-child(3) {
  top: 6px;
  width: 70%;
}
.menu-btn-inner-container span:nth-child(4) {
  top: 12px;
  width: 85%;
}
.menu-btn-inner-container.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.menu-btn-inner-container.open span:nth-child(2) {
  width: 100%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.menu-btn-inner-container.open span:nth-child(3) {
  width: 100%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu-btn-inner-container.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.main-menu-block.menu-show {
  animation: menuSlide .5s 1;
  animation-fill-mode: forwards;
}
.main-menu-block.menu-hide {
  animation: menuSlideOut .5s 1;
}
.menu-input-search {
  display: none;
}

/**** SWIPER ****/
.swiper-wrapper {
  z-index: 0 !important;
}

/**** RESPONSIVE ****/
@media (min-width: 1400px) {
  html {
    font-size: 20px;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 13px;
  }
  h1 {
    font-size: 3rem;
  }  
  h3 {
    font-size: 2.6rem;
  }  
  .content-container {
    width: 100vw;
  }
}
/* @media (max-width: 500px) {
  html {
    font-size: 12px;
  }
} */

/**** RESPONSIVE MENU + HEADER ****/
@media (min-width: 1400px) {
  .menu-left-list,
  .menu-middle-list,
  .menu-right-list {
    max-height: 27rem;
  }

}
@media (max-width: 767px) {
  .main-container {
    width: 85%;
  }
  .menu-container,
  .menu-container.main-menu-container,
  .main-header {
    display: none;
  }
  .menu-container.main-menu-container-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 5rem;
    width: 100%;
    background-color: var(--grey);
    z-index: 15;
  }
  .logo-container {
    height: 5rem;
  }
  .logo-container img {
    height: 100%;
    width: auto;
  }
  .mobile-block-left,
  .mobile-block-right {
    display: flex;
    align-items: center;
  }
  .mobile-block-left {
    justify-content: flex-start;
  }
  .mobile-block-right {
    justify-content: flex-end;
    padding-right: 1.5rem;
  }
  .languages-block {
    padding-left: 5%;
  }
  .lang {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white);
  }
  .phone-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.7rem;
    height: 2.7rem;
    margin: 0 2rem;
    border: 1px solid var(--white);
    border-radius: 50%;
  }
  .main-menu-block {
    flex-direction: column;
    padding-left: 0;
    padding-top: 65px;
  }
  .main-menu-block.menu-show {
    animation: menuSlideMobile .5s 1;
    animation-fill-mode: forwards;
  }
  .main-menu-block.menu-hide {
    animation: menuSlideOutMobile .5s 1;
  }
  .main-menu-block-inner {
    flex-direction: column;
    width: 100%;
    height: 66.66%;
  }
  .main-menu-left,
  .main-menu-middle,
  .main-menu-right {
    width: 100%;
    justify-content: start;
    padding: 0 5%;
  }
  .main-menu-left {
    height: 33.33%;
  }
  .main-menu-middle,
  .main-menu-right {
    height: 50%;
  }
  .main-menu-left img {
    margin-left: -5%;
  }
  .menu-input-search {
    position: absolute;
    display: block;
    width: 90%;
  }
  .menu-input-search input {
    position: relative;
    width: 100%;
    height: 3rem;
    margin-top: -1rem;
    padding-left: 1rem;
    outline: none;
  }
  .menu-input-search input:focus {
    outline: none;
    border: 1px solid #000;
    z-index: 30;
  }
  .menu-input-label::after {
    content: url('/assets/images/search-icon.svg');
    position: absolute;
    top: 0;
    left: 1rem;
    width: 2rem;
    height: 2rem;
    z-index: 20;
  }  
  .menu-left-list,
  .menu-middle-list,
  .menu-right-list {
    height: 70%;
    max-height: 100%;
  }
  .languages-block-menu,
  .menu-vector {
    display: none;
  }
}

/* KEYFRAMES */
@keyframes menuSlide {
  from {
    transform: translateX(-100%);
    transition-timing-function: ease-in;
  }
  to {
    transform: translateX(0);
    transition-timing-function: ease-out;
  }
}
@keyframes menuSlideOut {
  from {
    transform: translateX(0);
    transition-timing-function: ease-in;
  }
  to {
    transform: translateX(-100%);
    transition-timing-function: ease-out;
  }
}
@keyframes menuSlideMobile {
  from {
    transform: translateY(-100%);
    transition-timing-function: ease-in;
  }
  to {
    transform: translateY(0);
    transition-timing-function: ease-out;
  }
}
@keyframes menuSlideOutMobile {
  from {
    transform: translateY(0);
    transition-timing-function: ease-in;
  }
  to {
    transform: translateY(-100%);
    transition-timing-function: ease-out;
  }
}
