/*** SWIPER ***/
.page-swiper-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
h3.page-swiper-title {
  width: 96%;
  text-align: left;
  text-transform: none;
  margin-top: 2rem;
}
.page-single-swiper-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.projectSingleSwiper {
  width: 96%;
  height: 27vw;
  margin: 2rem 0 0 !important;
}
.project-single-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.project-single-link .project-single-img {
  width: 100%;
  object-fit: cover;
}
.project-single-video-icon {
  position: absolute;
  width: 60px;
  height: 60px;
}
.page-single-swiper-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  height: 120px;
}
.page-single-swiper-nav {
  position: relative;
  width: 20%;
  margin: 0 auto;
}
.page-single-swiper-nav .swiper-button-next,
.page-single-swiper-nav .swiper-button-prev {
  border: 1px solid #0c1f2c28;
  padding: 0 21px;
}
.page-single-swiper-nav .swiper-button-next::after,
.page-single-swiper-nav .swiper-button-prev::after {
  color: var(--grey);
  font-size: 1rem !important;
}
.page-single-swiper-nav .swiper-button-next.swiper-button-disabled, 
.page-single-swiper-nav .swiper-button-prev.swiper-button-disabled {
  opacity: .8 !important;
}
.page-single-swiper-nav .swiper-button-prev {
  right: 135px !important;
  left: auto !important;
}
.page-single-swiper-nav .swiper-button-next {
  right: 91px !important;
  left: auto !important;
}
.page-single-swiper-pagination {
  width: 10% !important;
  font-weight: 600;
  font-size: 1.25rem;
}
.page-single-swiper-pagination .swiper-pagination-total {
  color: #CFD2D3;
}
.page-single-swiper-scrollbar {
  position: relative;
  width: 70% !important;
  height: 10px;
  background-color: transparent;
}
.page-single-swiper-scrollbar::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #CFD2D3;
  z-index: -1;
}
.page-single-swiper-scrollbar .swiper-scrollbar-drag {
  background-color: var(--red);
}

/**** POPUP *****/
.page-slider-popup {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--second-black);
  z-index: 20;
}
.page-slider-popup.show {
  display: flex;
}
.page-slider-popup video {
  width: 100%;
  max-width: 900px;
  height: auto;
}
.video-popup-container {
  position: relative;
}
.page-slider-btn-close {
  position: absolute;
  top: 3%;
  right: 2rem;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 50%;
  cursor: pointer;
}
.page-slider-btn-close img {
  width: 18px;
}
.video-popup-btn {
  position: absolute;
  top: 45%;
  left: 48%;
  width: 6rem;
  z-index: 10;
  cursor: pointer;
}
.video-popup-btn.show {
  display: block;
}
.video-popup-btn.hide {
  display: none;
}
.slider-video-popup-container {
  height: 60vh;
  width: 50vw;
}
.video-popup,
.slide-popup {
  height: 100%;
  justify-content: center;
  align-items: center;
}
.project-single-img {
  width: auto;
  height: 100%;
  margin: 0 auto;
}
.projectSingleSwiper, 
h3.page-swiper-title, 
.page-single-swiper-nav-container {
  width: 94%;
}

/**** RESPONSIVE ****/
@media (min-width: 1500px) {
  .projectSingleSwiper, 
  h3.page-swiper-title, 
  .page-single-swiper-nav-container {
    min-width: 1380px;
  }
}
@media (min-width: 1600px) {
  .projectSingleSwiper, 
  h3.page-swiper-title, 
  .page-single-swiper-nav-container {
    width: 94%;
    min-width: 1400px;
  }
}
@media (min-width: 1700px) {
  .projectSingleSwiper, 
  h3.page-swiper-title, 
  .page-single-swiper-nav-container {
    width: 92%;
  }
}
@media (min-width: 1800px) {
  .projectSingleSwiper, 
  h3.page-swiper-title, 
  .page-single-swiper-nav-container {
    width: 90%;
  }
}
@media (min-width: 1900px) {
  .projectSingleSwiper, 
  h3.page-swiper-title, 
  .page-single-swiper-nav-container {
    width: 88%;
  }
}
@media (min-width: 2000px) {
  .projectSingleSwiper, 
  h3.page-swiper-title, 
  .page-single-swiper-nav-container {
    width: 86%;
  }
}
@media (min-width: 2100px) {
  .projectSingleSwiper, 
  h3.page-swiper-title, 
  .page-single-swiper-nav-container {
    width: 84%;
  }
}
@media (min-width: 2200px) {
  .projectSingleSwiper, 
  h3.page-swiper-title, 
  .page-single-swiper-nav-container {
    width: 82%;
  }
}
@media (min-width: 2400px) {
  .projectSingleSwiper, 
  h3.page-swiper-title, 
  .page-single-swiper-nav-container {
    width: 80%;
  }
}
@media (min-width: 2600px) {
  .projectSingleSwiper, 
  h3.page-swiper-title, 
  .page-single-swiper-nav-container {
    width: 78%;
  }
}
@media (max-width: 767px) {
  .page-single-swiper-nav-container {
    flex-direction: column;
  }
  .projectSingleSwiper {
    width: 100vw;
    height: 40vh;
    margin-bottom: 2rem !important;
  }
  .project-single-link {
    height: auto;
  }
  .page-single-swiper-nav-container {
    width: 100vw;
  }
  .page-single-swiper-pagination,
  /* .page-single-swiper-scrollbar, */
  .page-single-swiper-nav {
    width: 100% !important;
    text-align: center;
  }
  .page-single-swiper-nav-container {
    height: fit-content;
  } 
  .page-single-swiper-nav {
    height: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .page-single-swiper-scrollbar {
    margin: 2rem 0;
  }
  .page-single-swiper-nav .swiper-button-next,
  .page-single-swiper-nav .swiper-button-prev {
    position: relative;
    text-align: center;
    right: auto !important;
    left: auto !important;
  }
  .page-next-step-container {
    height: fit-content;
    padding-top: 3rem;
  }
  .page-next-step-container p {
    width: 100%;
    text-align: center;
  }
  .next-step-link {
    width: 100%;
    height: auto;
    margin: 3rem 0;
  }
  .next-step-vector {
    left: 7%;
    height: auto;
  }
  .next-step-vector img {
    width: 90%;
    height: auto;
  }
  .share-text-block {
    justify-content: space-between;
  }
  .slider-video-popup-container {
    height: auto;
    width: auto;
  }
  .project-single-img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .video-popup-btn {
    top: 47%;
    left: 45%;
    width: 3rem;
  }
  .page-slider-btn-close {
    width: 40px;
    height: 40px;
  }
  .page-slider-btn-close img {
    width: 15px;
  }
}
