.main-prod-single-container::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 60%;
  background-color: var(--white);
  z-index: 0;
}
.prod-single-title-container {
  display: flex;
  align-items: flex-end;
  height: fit-content;
  margin-left: 80px;
  padding: 13rem 0 0;
  background-color: transparent;
  z-index: 1;
}
.prod-single-flex-container {
  display: flex;
  justify-content: space-between;
  width: 92%;
  max-width: 1400px;
  margin: 0 auto;
}
.main-prod-single-description,
.main-prod-single-image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--black);
}
.main-prod-single-description {
  width: 45%;
  padding-right: 3rem;
}
.main-prod-single-description h1 {
  margin-bottom: 2rem;
  text-transform: capitalize;
}
.main-prod-single-image-block {
  position: relative;
  width: 55%;
}
.main-prod-single-item {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  color: var(--second-black);
  font-size: 0.825rem;
  border-bottom: 1px dashed #CFD2D3;
}
.main-prod-single-item .item-param {
  font-weight: 700;
}
.main-prod-single-page-btn {
  margin: 2rem 0 5rem;
}
.main-prod-single-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-right: 71px;
}
/* .main-prod-single-vector-image {
  position: absolute;
  bottom: -312px;
  right: -98px;
  padding-right: 8vh;
} */
.main-prod-single-vector-image {
  position: absolute;
  bottom: -312px;
  right: -27px;
}
.main-prod-single-image-block-mobile {
  display: none;
}

/**** NEXT BLOCK ****/
.prod-single-information-container {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: fit-content;
  width: calc(100% - 80px);
  margin-left: 80px;
  background-color: transparent;
}
.grid-one-column {
  align-items: center;
  height: 312px;
  padding: 0;
  background-color: var(--white);
}
.prod-single-grid-container .text-block-right.double-block {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2rem;
}
.double-block div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  color: var(--white);
}
.prod-single-grid-container .text-block-right {
  padding: 4rem 2rem;
  padding-right: 0;
}
.prod-single-grid-container .text-block-left {
  padding: 4rem 2rem;
  padding-left: 0;
}
.prod-single-grid-container .text-block-left {
  padding: 4rem 2rem;
  padding-left: 0;
}
.prod-single-grid-container {
  display: flex;
  justify-content: space-between;
  width: 92%;
  max-width: 1400px;
  margin: 0 auto;
}
.grid-one-column .prod-single-grid-container {
  padding-right: 25%;
}
.grid-three-blocks {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, auto);
}
.grid-three-blocks .text-block-left {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 4rem;
}
.grid-three-blocks .text-block-left, 
.grid-three-blocks .text-block-right {
  width: 100%;
  line-height: 1.7rem;
}
.prod-single-information-container .dark-block {
  position: relative;
  background-color: var(--grey);
  color: var(--white);
}
.prod-single-information-container .red-block {
  position: relative;
  background-color: var(--red);
  color: var(--white);
}
/***** COLOR BLOCK *****/
.more-block-section {
  flex-direction: column;
}
.prod-single-grid-container {
  position: relative;
  color: var(--second-black);
}
.text-block-left.doubled-text-block, 
.text-block-right.doubled-text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 2rem;
  height: 100%;
}
.grid-three-blocks .double-block-one {
  padding: 2rem 0 1rem 5rem;
}
.grid-three-blocks .double-block-two {
  padding: 1rem 0 2rem 5rem;
}
.doubled-text-block div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  padding: 2rem 0;
}
.color-block-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: transparent;
  z-index: -1;
}
.red-block-background {
  height: 100%;
  width: 50%;
  background-color: var(--red);
}
.dark-block-background {
  height: 100%;
  width: 50%;
  background-color: var(--grey);
}
.white-block-background {
  height: 100%;
  width: 50%;
  background-color: var(--white);
}
.double-color-block-background {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  z-index: -1;
}
.red-block-background-half {
  height: 50%;
  width: 100%;
  background-color: var(--red);
}
.dark-block-background-half {
  height: 50%;
  width: 100%;
  background-color: var(--grey);
}
.white-block-background-half {
  height: 50%;
  width: 100%;
  background-color: var(--white);
}
.light-font-color {
  color: var(--white);
}
.grid-three-blocks-container::before {
  content: '';
  position: absolute;
  z-index: -1;
  height: 100%;
  width: calc(50% + 80px);
  top: 0;
  left: 0;
  right: auto;
  background-color: var(--white);
}

/**** NEXT BLOCK ****/
.prod-single-one-col-container {
  padding: 6rem 10vw 8rem;
  background-color: var(--background);
}
.prod-single-description-container {
  position: relative;
  width: 75%;
  max-width: 940px;
  margin: 0 auto;
}
.prod-single-description-container p.prod-single-description-title {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  width: 85%;
  text-transform: none;
}
.prod-single-description-container p {
  width: 95%;
  margin: .5rem 0;
  line-height: 1.7rem;
}
.prod-single-top-title,
.prod-single-bottom-title {
  position: absolute;
  font-size: 5rem;
  font-weight: 900;
  color: var(--grey);
  opacity: .1;
}
.prod-single-top-title {
  top: -43px;
  left: -81px;
}
.prod-single-bottom-title {
  bottom: -118px;
  right: -100px;
}

/**** ADVANTAGES SECTION ****/
.prod-single-advantages-section {
  background-color: var(--grey);
}
.prod-single-information-container {
  flex-direction: column;
  align-items: flex-start;
}
.prod-single-advantages-container {
  flex-direction: column;
  align-items: flex-start;
  padding: 5rem 0;
  color: var(--white);
}
.prod-advantages-title {
  font-size: 2.5rem;
  line-height: 2.7rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--white);
  padding-top: 6rem;
}
.prod-single-advantages-container {
  position: relative;
  width: 100%;
  padding: 1rem 10vw 8rem;
} 
.advantages-main-image {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 0;
}
.advantages-main-image-two {
  top: -2%;
}
.prod-single-advantages-blocks-container {
  position: relative;
  width: 75%;
  max-width: 940px;
  margin: 0 auto;
  z-index: 5;
}
.prod-single-advantages-blocks-container p {
  margin-top: 2rem;
}
.prod-single-advantages-two-container p {
  width: 80%;
}
.prod-single-advantages-blocks {
  display: flex;
  flex-wrap: wrap;
  width: 130%;
  margin-left: -10px;
}
.advantages-block {
  position: relative;
  width: 31%;
  max-width: 315px;
  height: 400px;
  margin: 10px;
  background-color: var(--light-grey);
  border-bottom: 2px solid var(--red);
  padding-top: 1rem;
}
.advantages-block-with-image {
  position: relative;
  width: 30%;
  max-width: 300px;
  height: fit-content;
  margin: 10px;
  padding-top: 1rem;
}
.advantages-block-with-image p {
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
.advantages-block-image-container {
  padding: 2rem 0;
  height: 90%;
  background-color: var(--light-grey);
}
.advantages-block-image {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}
.prod-single-advantages-two-blocks {
  width: 110%;
  align-items: stretch;
}
.prod-single-advantages-two-blocks .advantages-block {
  width: 47%;
  max-width: none;
  height: unset;
  padding-bottom: 2rem;
}
.advantages-block p,
.advantages-block ul,
.advantages-block ol {
  padding: 0 2rem ;
  font-size: 1rem;
  font-weight: 700;
}
.advantages-block ul,
.advantages-block ol {
  padding-left: 4rem;
}
.advantages-block img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**** APPOINTMENT ****/
.prod-appointment-container {
  display: flex;
  justify-content: space-between;
  width: 92%;
  max-width: 1400px;
  margin: 1rem auto 6rem;
}
.prod-appointment-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, auto);
}
.prod-appointment-description {
  font-size: 1rem;
  line-height: 1.5rem;
  padding-right: 2rem;
}
.additional-appointment-block {
  margin-top: 6rem;
  padding-right: 3rem;
}
.text-block-highlight {
  font-weight: 700;
}
.product-brochure-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 1rem 2rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: transparent;
  transition: background-color .5s;
}
.product-brochure-block {
  display: flex;
  align-items: center;
}
.product-brochure-block p {
  margin: 0;
  padding-left: 1rem;
  font-size: .825rem;
  color: var(--white);
  transition: color .5s;
}
.download-block {
  display: flex;
  align-items: center;
}
.download-block p {
  margin: 0;
  padding-right: 1rem;
  text-transform: uppercase;
  color: var(--white);
  transition: color .5s;
}
.additional-tag-appointment-block {
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  padding-left: 2rem;
}
.additional-tag-appointment-block p {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff60;
}
.additional-tag-block {
  display: flex;
  flex-wrap: wrap;
}
.appointment-tag {
  width: fit-content;
  padding: .7rem 1rem;
  margin: 0 .5rem .5rem 0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  border: 1px solid var(--white);
}
.product-brochure-container:hover {
  background-color: var(--white);
}
.product-brochure-container:hover .download-block p {
  color: var(--red);
}
.product-brochure-container:hover .product-brochure-block p {
  color: var(--black);
}

/**** RESPONSIVE ****/

/**** ADVANTAGES SECTION ****/
@media (max-width: 1200px) {
  .prod-single-advantages-blocks {
    width: 110%;
  }
  .advantages-block {
    position: relative;
    width: 30%;
    height: 300px;
  }
  .advantages-block-image {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 1150px) {
  .prod-single-advantages-blocks {
    width: 120%;
  }
  .advantages-block {
    position: relative;
    width: 45%;
    height: 300px;
  }
}
@media (max-width: 992px) {
  .advantages-block-with-image {
    width: 45%;
  }
}
@media (min-width: 768px) {
  .grid-three-blocks .dark-block-background-half,
  .grid-three-blocks .red-block-background-half,
  .grid-three-blocks .white-block-background-half {
    background-color: transparent;
  }
}
@media (max-width: 767px) {
  .prod-single-flex-container {
    width: 100%;
  }
  .main-prod-single-image-block {
    display: none;
  }
  .main-prod-single-container::before {
    content: none;
  }
  .prod-single-title-container {
    margin-left: 0;
    padding-top: 15rem;
    background-color: var(--white);
    z-index: 0;
  }
  .main-prod-single-image-block-mobile {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
  }
  .main-prod-single-image-block-mobile img {
    height: 40vh;
    width: 100%;
    object-fit: cover;
  }
  .main-prod-single-description {
    width: 100%;
    padding-right: 0;
  }
  .main-prod-single-description h1,
  .main-prod-single-description .text-block-single {
    padding: 0 1rem;
  }
  .main-prod-single-page-btn a {
    width: 100%;
    justify-content: center;
  }

  /**** NEXT BLOCK ****/
  .prod-single-information-container {
    width: 100%;
    height: fit-content;
    margin-left: 0;
  }
  .prod-single-grid-container {
    width: 100%;
    padding-right: 0;
  }
  .main-prod-single-vector-image {
    display: none;
  }
  .prod-single-grid-container .text-block-right,
  .prod-single-grid-container .text-block-left {
    padding: 2rem 0; 
     margin-top: 0;
  }
  .prod-single-grid-container h3,
  .prod-single-grid-container h4,
  .prod-single-grid-container h5,
  .prod-single-grid-container p {
    padding: 0 1rem;
  }
  .prod-single-grid-container ul,
  .prod-single-grid-container ol {
    padding: 0 1rem 0 3rem;
  }
  .prod-single-grid-container .text-block-right.double-block {
    width: 100%;
    padding: 0;
  }
  .prod-single-grid-container .text-block-right.double-block div {
    height: fit-content;
    padding: 2rem 0;
  }
  .grid-three-blocks-container::before {
    content: none;
  }

  /**** NEXT BLOCK ****/
  .prod-single-description-container {
    width: 100%;
  }
  .prod-single-description-container p.prod-single-description-title {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    width: 100%;
  }
  .prod-single-top-title {
    font-size: 4rem;
    top: -42px;
    left: 8px;
  }
  .prod-single-bottom-title {
    font-size: 2.5rem;
    bottom: -60px;
    right: auto;
    left: 14%;
  }

  /***** COLOR BLOCK *****/
  .color-block-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    z-index: -1;
  }
  .red-block-background,
  .dark-block-background,
  .white-block-background {
    height: 50%;
    width: 100%;
  }
  .double-color-block-background {
    bottom: 0;
    top: auto;
    width: 100%;
    height: fit-content;
  }
  .red-block-background-half {
    height: 50%;
    width: 100%;
    background-color: var(--red);
  }
  .dark-block-background-half {
    height: 50%;
    width: 100%;
    background-color: var(--grey);
  }
  .white-block-background-half {
    height: 50%;
    width: 100%;
    background-color: var(--white);
  }
  .grid-three-blocks {
    display: grid;
    grid-template-columns: 100%;
  }
  .double-color-block-background {
    display: none;
  }

  /**** ADVANTAGES SECTION ****/
  .prod-advantages-title {
    padding: 3rem 1rem 0;
    font-size: 1.7rem;
    line-height: 2rem;
  }
  .prod-single-advantages-container {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto 4rem;
  }
  .prod-single-advantages-blocks-container {
    position: relative;
    width: 100%;
    max-width: none;
    margin: 0 auto;
  }
  .prod-single-advantages-two-container p {
    width: 100%;
  }
  .prod-single-advantages-blocks {
    width: 100%;
    margin-left: 0;
  }
  .advantages-block {
    position: relative;
    width: 100%;
    max-width: none;
    height: 350px;
    margin: 1rem auto;
  }
  .advantages-block-with-image {
    width: 100%;
    max-width: none;
  }
  .advantages-block-with-image p {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }
  .advantages-block-image-container {
    padding: 2rem 0;
  }
  .advantages-block-image {
    width: 75vw;
    height: 75vw;
    padding: 0;
  }
  .advantages-main-image,
  .advantages-main-image-two {
    display: none;
  }
  .prod-single-advantages-two-blocks {
    width: 100%;
  }
  .prod-single-advantages-two-blocks .advantages-block {
    width: 100%;
  }

  /**** APPOINTMENT ****/
  .prod-appointment-grid-container {
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
  }
  .prod-appointment-container {
    margin: 0 auto;
  }
  .prod-appointment-container .text-block-left {
    margin-top: 1rem;
    width: 100%;
  }
  .prod-appointment-description {
    padding: 0;
  }
  .product-brochure-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product-brochure-block {

  }
  .product-brochure-block p {

  }
  .download-block {
    margin-top: 2rem;
  }
  .download-block p {
    font-weight: 600;
  }
  .additional-tag-appointment-block {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-left: 0;
    margin-top: 2rem;
  }
  .additional-tag-appointment-block p {
    margin-bottom: 1.5rem;
  }
  .additional-appointment-block {
    margin: 3rem 0 5rem;
    padding-right: 0;
  }
  .additional-appointment-block h4 {
    font-size: 1rem;
  }
  .additional-tag-block {

  }
  .appointment-tag {

  }
}
@media (max-width: 400px) {
  .prod-single-bottom-title {
    font-size: 2rem;
    left: 4%;
  }
}
