.category-title-container {
  display: flex;
  align-items: flex-end;
  height: fit-content;
  margin-left: 80px;
  background-color: var(--background);
  padding: 11rem 0 3rem;
}
.category-flex-container {
  display: flex;
  justify-content: flex-start;
  width: 92%;
  max-width: 1400px;
  margin: 0 auto;
}
.main-category-title,
.main-category-subtitle {
  display: flex;
  align-items: center;
  color: var(--black);
}
.main-category-title {
  width: 50%;
  font-size: 3.7rem;
}
.main-category-subtitle {
  width: 50%;
  padding-right: 10%;
  line-height: 1.3rem;
  font-size: .825rem;
}
.our-category-section {
  height: 100%;
  background-color: var(--background);
  padding-bottom: 12rem;
}
.category-section {
  background-color: var(--background);
}
.category-container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto 4rem;
}
.category-element {
  position: relative;
  width: 49%;
  height: 480px;
  margin-top: 1rem;
  background-color: transparent;
  transition: background-color .5s;
}
.category-element.single-element {
  width: 100%;
}
.category-image-block {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.category-image-block img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(60%);
  opacity: 1;
  transition: opacity .5s;
}
.category-text-link-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem 3rem 4rem;
  color: var(--white);
  z-index: 5;
}
.category-title {
  position: relative;
  width: fit-content;
  margin-bottom: 1rem;
  font-size: 2.5rem; 
  font-weight: 600;
  text-transform: uppercase;
}
.category-title::after {
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--red);
  transition: width .5s;
}
.category-text {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}
.category-element-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  z-index: 5;
  background-color: transparent;
  transition: background-color .5s;
}
.category-element-button svg{
  transform: rotate(0deg);
  transition: transform .5s;
}
.category-element:hover {
  background-color: var(--grey);
}
.category-element:hover .category-image-block img {
  opacity: 0;
}
.category-element:hover .category-element-button {
  background-color: var(--red);
}
.category-element:hover .category-element-button svg {
  transform: rotate(90deg);
}
.category-element:hover .category-title::after {
  width: 100%;
}
.category-page-light .category-page-text-section {
  padding: 3rem 0;
  background-color: var(--background);
}
.category-page-dark .category-text-container,
.category-page-light .category-text-container {
  position: relative;
  width: 92%;
  margin: 0 auto;
}
.category-text-container h3 {
  width: 70%;
  margin-bottom: 2rem;
  text-transform: initial;
  line-height: 3rem;
}
.category-text-container h4 {
  margin-top: 0;
  line-height: 2rem;
}
.category-page-dark .category-page-text-section {
  padding: 3rem 0;
  background-color: var(--grey);
}
.category-page-light .category-text-container {
  color: var(--second-black);
}
.category-page-dark .category-text-container {
  color: var(--white);
}
.category-page-text-section {
  padding: 6rem 3rem 10rem;
  background-color: var(--background);
}
.category-page-text-section {
  position: relative;
}
.category-page-description-container {
  position: relative;
  width: 75%;
  max-width: 940px;
  margin: 0 auto;
}
.category-page-description-container p.category-page-description-title {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  width: 85%;
  text-transform: none;
}
.category-page-description-container p {
  width: 95%;
  margin: .5rem 0;
  line-height: 1.7rem;
}
.category-page-top-title,
.category-page-bottom-title {
  position: absolute;
  font-size: 5rem;
  font-weight: 900;
  color: var(--grey);
  opacity: .1;
}
.category-page-top-title {
  top: -43px;
  left: -81px;
}
.category-page-bottom-title {
  bottom: -118px;
  right: -100px;
}
.category-page-with-img-container {
  position: relative;
  width: 100%;
  background-color: var(--white);
}
.category-page-with-img-container-right {
  width: 45%;
}
.category-page-with-img-container-left {
  width: 65%;
}
/* .category-page-image-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
.category-page-image-block.category-page-with-img-container-right img {
  width: 41%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0;
}
.category-page-with-img-container-right,
.category-page-with-img-container-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
}
.category-page-with-img-container-right .text-block-single {
  padding: 4rem 4rem;
}
.category-page-with-img-container-left .text-block-single {
  padding: 4rem 0;
}
.category-page-image-block.category-page-with-img-container-left img {
  width: 59%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.category-page-text-dark {
  background-color: var(--grey);
}
.category-page-with-img-container-dark {
  background-color: transparent;
  color: var(--white);
}
.category-image-notreversed {
  width: 92%;
  max-width: 1400px;
  margin: 0 auto;
}

/**** RESPONSIVE ****/
@media (min-width: 1500px) {
  .category-element {
    height: 550px;
  }
  .category-page-with-img-container-right .text-block-single {
    padding: 4rem 10rem 4rem 4rem;
  }
}
@media (max-width: 992px) {
  .category-flex-container {
    flex-direction: column;
  }
  .main-category-title,
  .main-category-subtitle {
    width: 100%;
    max-width: 450px;
    padding: 0;
  }
  .main-category-title {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .main-category-title {
    font-size: 2.5rem;
  }
  .category-container {
    width: 92%;
  }
  .category-title-container {
    margin-left: 0;
    padding: 13rem 0 3rem;
  }
  .main-category-subtitle {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .category-element {
    width: 100%;
    height: 350px;
  }
  .category-text-link-container {
    width: 100%;
    height: 100%;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .category-title {
    font-size: 2rem;
  }
  .category-text-container {
    padding: 0;
  }
  .category-page-text-section {
    padding: 6rem 1rem 7rem;
    background-color: var(--background);
  }
  .category-page-description-container {
    width: 100%;
  }
  .category-page-description-container p.category-page-description-title {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    width: 100%;
  }
  .category-page-top-title {
    font-size: 4rem;
    top: -42px;
    left: 8px;
  }
  .category-page-bottom-title {
    font-size: 2.5rem;
    bottom: -60px;
    right: auto;
    left: 14%;
  }
  .category-page-with-img-container-left,
  .category-page-with-img-container-right {
    width: 100%;
  }
  .category-image-reversed {
    flex-direction: column-reverse;
  }
  .category-image-notreversed {
    width: 100%;
    max-width: none;
  }
  .category-text-container h3 {
    width: 100%;
  }
  .category-page-with-img-container-left .text-block-single,
  .category-page-with-img-container-right .text-block-single {
    padding: 2rem;
  }
  .category-page-image-block.category-page-with-img-container-right img,
  .category-page-image-block.category-page-with-img-container-left img {
    position: relative;
    width: 100%;
    max-height: 300px;
  }
}
@media (max-width: 500px) {

}
