.about-company-section {
  height: 100%;
  background-color: var(--background);
  padding-bottom: 10rem;
}
.about-company-title {
  text-transform: uppercase;
  margin: 8rem auto 3rem;
  width: 85%;
}
.about-description-block {
  display: grid;
  grid-template-columns: 10% 40% 50%;
  width: 85%;
  margin: 0 auto;
}
.line-block {
  position: relative;
  grid-row-start: 1;
  grid-row-end: 3;
}
.line-block::after {
  content: '';
  position: absolute;
  top: 8px;
  left: 5px;
  width: 80%;
  height: 2px;
  background-color: var(--black);
}
.subtitle-about-block,
.more-info-block {
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: 0.875rem;
  font-weight: 600;
}
.subtitle-about-block {
  display: flex;
  width: 75%;
  line-height: 1.2rem;
}
.text-about-block {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.text-about-block p {
  padding: 0 0 1rem;
  line-height: 1.5rem;
}
.about-video-container {
  position: relative;
  width: 85%;
  margin: 0 auto;
}
.about-top-title,
.about-bottom-title {
  position: absolute;
  font-size: 5rem;
  font-weight: 900;
  color: var(--grey);
  opacity: .1;
}
.about-top-title {
  top: 0;
  left: 2rem;
}
.about-bottom-title {
  bottom: 0;
  left: 15rem;
}
.about-video-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.video-block {
  position: relative;
  display: flex;
  align-items: flex-end;
}
.about-video-preview {
  height: 30rem;
  width: 30rem;
  margin-bottom: 3rem;
}
.about-video-preview img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.about-video-icon {
  position: absolute;
  top: 60%;
  right: -5%;
  width: 6rem;
  height: 6rem;
  cursor: pointer;
}
.stat-grid-item {
  display: flex;
  flex-direction: column;
}
.statistics-block {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-gap: 4rem;
}
.stat-num {
  font-size: 3rem;
  font-weight: 700;
}
.about-container-mobile {
  display: none;
}
.about-company-popup {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #0d1622e3;
  z-index: 20;
}
.about-company-popup.show {
  display: flex;
}
.about-company-popup img {
  width: 70%;
  height: auto;
}
.video-btn-close {
  position: absolute;
  top: 3%;
  right: 2rem;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 50%;
  cursor: pointer;
}
.video-btn-close img {
  width: 18px;
}

/**** RESPONSIVE ****/
@media (min-width: 1400px) {
  .about-top-title {
    left: 5rem;
  }
  .about-bottom-title {
    left: 20rem;
  }
  .about-video-preview {
    height: 35rem;
    width: 35rem;
  }
}
@media (min-width: 1800px) {
  .about-company-title,
  .about-description-block {
    max-width: 1400px;
  }
  .about-video-container {
    max-width: 1400px;
  }
  .about-video-block {
    max-width: 1400px;
    margin: 0 auto;
  }
}
@media (max-width: 1200px) {   
  .about-video-preview {
    height: 24rem;
    width: 24rem;
    margin-bottom: 4rem;
  }
  .about-top-title {
    top: 0;
    left: 0;
  }
}
@media (max-width: 767px) {
  .about-description-block {
    display: flex;
    flex-direction: column;
  }
  .line-block {
    margin: 0 0 2rem;
    width: 30%;
  }
  .text-about-block,
  .more-info-block {
    display: none;
  }
  .about-container-mobile,
  .text-about-block-mobile,
  .more-info-block-mobile {
    display: flex;
    flex-direction: column;
  }
  .text-about-block-mobile p {
    margin: .5rem 0;
  }
  .more-info-block-mobile {
    margin: 1.5rem 0 2rem;
  }
  .about-video-block {
    flex-direction: column-reverse;
  }
  .about-top-title {
    top: 50%;
    left: -3%;
  }
  .video-block {
    margin-top: 5rem;
  }
  .about-video-preview {
    height: 24rem;
    width: 24rem;
  }
}
