.our-projects-section {
  height: 100%;
  background-color: var(--background);
  padding-bottom: 12rem;
}
.projects-title {
  display: flex;
  justify-content: flex-start;
  margin: 13rem auto 3rem;
}
.projects-title h3 {
  text-transform: uppercase;
}
.projects-title-line {
  position: relative;
  height: 100%;
}
.projects-title-line::after {
  content: '';
  position: absolute;
  left: 2rem;
  width: 6rem;
  height: 2px;
  margin-top: 1.75rem;
  background-color: var(--black);
}
.projects-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 6rem auto 4rem;
}
.project-element {
  display: flex;
  flex-direction: column;
  width: 31%;
  max-width: 450px;
  margin: 0 1rem;
  background-color: var(--white);
  transition: background-color 1s;
}
.project-element:first-child {
  margin-left: 0;
}
.project-element:last-child {
  margin-right: 0;
}
.project-text {
  height: 100%;
  padding: 2rem;
  margin-top: 0;
  background-color: var(--white);
  transition: background-color, margin-top 1s;
}
.project-title {
  display: flex;
  align-items: center;
  min-height: 8rem;
  line-height: 1.7rem;
  padding-bottom: 2.5rem;
  color: var(--black);
}
.project-image img {
  width: 100%;
}
.project-date {
  color: var(--grey);
}
.project-element:hover .project-text {
  margin-top: -2rem;
  background-color: var(--grey);
}
.project-element:hover .project-title,
.project-element:hover .project-date {
  color: var(--white);
}
.projects-more-block {
  text-align: center;
}
.projects-swiper-container {
  display: none;
}

/**** RESPONSIVE ****/
@media (max-width: 767px) {
  .projects-container {
    display: none;
  }
  .projects-title {
    flex-direction: column;
    margin: 8rem auto 6rem;
  }
  .projects-title-line::after {
    left: 3px;
    width: 7rem;
  }
  .projects-swiper-container {
    display: block;
    margin: 4rem 0 4rem 2.5rem;
  }
  .project-slide {
    background-color: var(--white);
  }
  .project-slide a {
    display: flex;
    flex-direction: column;
  }
  .project-title {
    min-height: 5rem;
    padding-bottom: 1.5rem;
    font-size: 1.2rem;
    transition: padding-bottom 1s;
  }
  .project-text {
    height: 100%;
  }
  .project-slide:hover .project-text {
    margin-top: -2rem;
    background-color: var(--grey);
  }
  .project-slide:hover .project-title,
  .project-slide:hover .project-date {
    color: var(--white);
  }
  .project-slide:hover .project-title {
    padding-bottom: 3.5rem;
  }
}
