.our-blog-section {
  height: 100%;
  background-color: var(--grey);
  color: var(--background);
}
.blog-main-container {
  position: relative;
}
.blog-main-line {
  position: absolute;
  bottom: 0;
  left: 20%;
}
.blog-main-line img {
  width: 100%;
}
.blog-main-bgimage {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.blog-main-bgimage img {
  height: 100%;
}
.blog-title {
  display: flex;
  justify-content: flex-start;
  margin: 7rem auto 1rem;
}
.blog-swiper-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 12rem;
}
.blogSwiper {
  width: 92%;
  height: 20vw;
  min-height: 300px;
  margin: 5rem 0 0 !important;
}
.blog-slide {
  position: relative;
  height: 90% !important;
}
.blog-slide-date {
  color: #ffffff60;
  margin-left: 1.5rem;
  padding-top: 1.5rem;
  opacity: 1;
  transition: opacity 1s;
}
.blog-slide-link {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}
.blog-swiper-nav {
  position: relative;
  width: 85%;
  margin: 0 auto;
  opacity: 1;
  transition: opacity 1s;
}
.blog-swiper-nav .swiper-button-next,
.blog-swiper-nav .swiper-button-prev {
  top: 100% !important;
  margin-top: 40px !important;
  border: 1px solid #ffffff15;
  padding: 25px 27px;
}
.blog-swiper-nav .swiper-button-next::after,
.blog-swiper-nav .swiper-button-prev::after {
  color: var(--white);
  font-size: 1rem !important;
}
.blog-swiper-nav .swiper-button-next.swiper-button-disabled, 
.blog-swiper-nav .swiper-button-prev.swiper-button-disabled {
  opacity: .8 !important;
}
.blog-swiper-nav .swiper-button-prev {
  left: 0 !important;
  right: auto !important;
}
.blog-swiper-nav .swiper-button-next {
  left: 56px !important;
  right: auto !important;
}
.blog-link {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  color: var(--white);
  transition: height 1s;
}
.blog-slide-text {
  display: flex;
  align-items: center;
  width: 80%;
  height: 20%;
  bottom: 17%;
  left: 1rem;
  line-height: 1.5rem;
}
.hover-color-block {
  height: 60%;
  background-color:  var(--light-grey);
  z-index: 1;
  transition: height 1s;
}
.hover-image-block {
  position: absolute;
  top: 0;
  height: 60%;
  z-index: -1;
}
.hover-image-block img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.blogSwiper .swiper-wrapper {
  align-items: center; 
}
.hover-text-block {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-grey);
}
.blog-link:hover {
  height: 110%;
  margin-top: -1rem;
}
.blog-link:hover .hover-color-block {
  height: 0;
  background-color: var(--red);
}
.blog-link:hover .blog-slide-link,
.blog-link:hover .blog-slide-date {
  opacity: 0;
}
.blog-link:hover .hover-text-block {
  background-color: var(--red);
}
/**** RESPONSIVE ****/
@media (max-width: 767px) {
  .blog-main-bgimage {
    left: 0;
    width: 20vw;
    z-index: 0;
  }
  .blog-title {
    position: absolute;
    left: 2.5rem;
    z-index: 1;
  }
  .blog-main-bgimage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
  }
  .blog-main-line {
    display: none;
  }
  .blogSwiper {
    height: 50vh;
    margin: 13rem 0 0 !important;
  }
  .blog-swiper-nav {
    display: flex;
    justify-content: center;
    margin: 1rem auto 0 !important;
  }
  .blog-swiper-nav .swiper-button-next, 
  .blog-swiper-nav .swiper-button-prev {
    position: initial;
    padding: 18px 21px;
  }
}
