.our-services-section {
  height: 100%;
  background-color: var(--background);
  margin-bottom: 10rem; 
}
.services-title-container {
  margin: 0 auto;
}
.services-title {
  display: flex;
  justify-content: flex-start;
  margin: 2rem 0 3rem;
  width: 100%;
  max-width: 400px;
}
.services-container {
  margin: 0 auto;
  margin-bottom: 5rem;
}
.services-grid-container {
  display: grid;
  grid-template-columns: 335px 335px 335px;
  grid-template-rows: 375px 375px;
  grid-gap: 1rem;
  width: fit-content;
  margin: -9rem auto 0;
}
.services-grid-item {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 400px;
  background-color: var(--grey);
  color: var(--white);
  padding: 2rem;
}
.services-grid-item-hidden {
  visibility: hidden;
}
.services-item-title {
  width: 80%;
  margin-bottom: 2rem;
  text-transform: uppercase;
  line-height: 1.2em;
}
.services-item-description {
  margin-bottom: 2rem;
  font-size: .875rem;
  line-height: 1.275rem;
}
.services-item-button {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}
.services-item-vector {
  position: absolute;
  bottom: 0;
  left: 0;
}
.services-item-vector-bottomplus {
  bottom: 2rem;
}
.services-bg-image {
  width: 100%;
  height: 100vh;
  max-height: 700px;
  margin-top: -42rem;
  background-image: url('/assets/images/services-background.png');
  background-position: center;
  background-size: cover;
  z-index: 0;
}

/**** RESPONSIVE ****/
@media (min-width: 1400px) {
  .services-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1200px) {
  .services-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767px) {
  .services-container {
    position: relative;
  }
  .services-title {
    justify-content: center;
    margin: -4rem auto 3rem;
  }
  .services-grid-container {
    display: flex;
    flex-direction: column;
    margin-top: 0rem;
    z-index: 10;
    background-image: url('/assets/images/services-background.png');
    background-position: center;
    background-size: cover;
  }
  .services-grid-item {
    height: 20rem;
    width: 80%;
    margin: 0 auto;
  }
  .services-grid-item-hidden {
    display: none;
  }
  .services-bg-image {
    display: none;
  }
}
